.container-fluid {
    background-color: rgb(255, 255, 255);
    margin-bottom: 3px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 10px 50px;
  
    padding: 8px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .navLink ul li {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.9s ease;
  }
  .navLink ul li a {
    text-decoration: none;
  
    color: black;
  }
  
  .navLink ul li a:hover {
    text-decoration: dashed;
    color: rgb(232, 80, 4);
  }
  
  .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-text {
    visibility: hidden;
    
   
   margin-top: 2px;
    text-align: center;
  
  
    position: absolute;
    z-index: 1;
    top: 100%; /* Position the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  